.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#quote-box {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

#text{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

#author{
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

#buttons-wrapper{
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}